<!-- <app-single-card
  [heading]="Skills[0].heading"
  [imagUrl]="cardsContent[0].imagUrl"
  [title]="cardsContent[0].title"
  [username]="cardsContent[0].username"
  [content]="cardsContent[0].content"
>
</app-single-card>
<app-single-card
  [imagUrl]="cardsContent[1].imagUrl"
  [title]="cardsContent[1].title"
  [username]="cardsContent[1].username"
  [content]="cardsContent[1].content"
></app-single-card>
<app-single-card
  [imagUrl]="cardsContent[2].imagUrl"
  [title]="cardsContent[2].title"
  [username]="cardsContent[2].username"
  [content]="cardsContent[2].content"
></app-single-card> -->

<app-single-card
  *ngFor="let card of cardsContent"
  [imagUrl]="card.imagUrl"
  [title]="card.title"
  [username]="card.username"
  [content]="card.content"
>
</app-single-card>
